{deps, [
    {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "v1.2.0"}}}
]}.
{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.0"}
        ]}
    ]}
]}.
{shell, [
    {apps, [fmqttc]},
    {config, "sys.config"}
]}.
{plugins, [erlfmt]}.
{erlfmt, [
    write,
    {files, "{src,include,test}/*.{hrl,erl}"}
]}.